/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 Developer Team, (Modified by: William J. Horn)
? @document-name:          main-style.css
? @document-created:       03/18/2022
? @document-modified:      03/18/2022
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-   

==================================================================================================================================
*/

:root {
    --pastColor: #d3d3d3;
    --presentColor: #ff6961;
    --futureColor: #77dd77;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #838383;
    font-size: 16px;
    line-height: 1;
    color: white;
}

.row {
    margin-bottom: 10px;
    opacity: 0;
}

/* on row load animation --begin */
.row-load-anim {
    animation: fadeIn ease .25s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
/* on row load animation --end */

.row > div {
    padding: 0;
    height: 70px;
}

textarea {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    padding: 10px;
    resize: none;
}

.display-time {
    margin-top: 35px;
    color: #eeeac0;
    font-family: monospace;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid #646464;
    padding: 2rem 1rem;
}

/* save button */
.save-btn {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    background-color: #576590;
    color: white;
    font-weight: 900;
    font-family: monospace;
    transition: background-color 0.25s;
    outline: none;
}

.save-btn:hover {
    background-color: #94a6df;
}

.save-btn:focus {
    outline: none;
}

/* schedule time container */
.schedule-time {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* schedule time label */
.time-label {
    padding-left: 10px;
    padding-right: 10px;
    color: #989898;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: monospace;
    margin-bottom: 0;
}

/* textarea container */
.task-info {
    background-color: white;
}

/* change color based on time state class (added/removed in js) */
.time-state-before {
    background-color: var(--pastColor);
    color: #8f8f8f;
}

.time-state-current {
    background-color: var(--presentColor);
}

.time-state-after {
    background-color: var(--futureColor);
}

.time-state-current p, .time-state-after p {
    color: white;
}

.time-state-before .task-info {
    background-color: #aaaaaa;
}

/* save button container */
.save-area {
    background: transparent;
}

